.spendings{
    border-left: 1px solid #f8c300;
    border-bottom: 1px solid #f8c300;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "general-spendings-graph";
}

.general-spendings-graph{
    background-color: none;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 30vw;
    height: 40vh;
    color: black;
    margin-bottom: 0px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 6px 7px -4px rgb(0, 0, 0, 0.2);
}


